@font-face {
    font-family: PublicSansThin;
    src: url(font/PublicSans-Thin.otf);
}

@font-face {
    font-family: PublicSans;
    src: url(font/PublicSans-Regular.otf);
}

@font-face {
    font-family: PublicSansBold;
    src: url(font/PublicSans-Bold.otf);
}

@font-face {
    font-family: PublicSansMedium;
    src: url(font/PublicSans-Medium.otf);
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #feffff;
}

.bg {
    width: 100%;
    height: 90%;
}

.side-menu {
    position: fixed;
    left: 0%;
    float: left;
    width: 20%;
    min-height: 100vh;
    background-color: #17252A;
    color: #feffff;
    font-family: PublicSansThin, sans-serif;
    text-align: center;
}

.main-content {
    position: absolute;
    left: 30%;
    padding-right: 10%;
    background-color: #feffff;
    width: 50%;
    height: 100%;
    color: black;
    font-family: PublicSansThin, sans-serif;
}

.header {
    width: 100%;
    height: 5%;
    background-color: #222222;
    color: white;
    font-family: PublicSansThin, sans-serif;
}

#main-pic {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.side-menu .contacts {
    margin-top: 20%;
}

.side-menu a {
    color: #feffff;
    text-decoration: none;
    font-family: PublicSansThin, sans-serif;
}
.side-menu a:hover{
    color: #2b7a78;
    text-decoration: none;
}
.about a {
    color: #2b7a78;
    text-decoration: underline;
    font-family: PublicSansThin, sans-serif;
}
.about a:hover{
    color: #17252A;
    text-decoration: none;
}
.side-menu hr {
    width: 50%;
    height: .05px;
    background-color: white;
}
.side-menu h4 {
    margin-top: -5%;
    white-space: nowrap;
}
.side-menu .bold {
    font-family: PublicSansBold, sans-serif;
}

.main-content .about {
    margin-top: 15%;
    color: #17252A;
}

h1.bold {
    font-family: PublicSansMedium, sans-serif;
}

.about .circle-link {
    margin-right: 5%;
    margin-top: 5%;
    position: relative;
    text-align: center;
    color: white;
    width: 20%;
    float: left;
}

.circle-link .circle-img {
    width: 90%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-link :any-link {
    border: none;
    background-color: none;
    background: none;
    color: inherit;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
}

.circle-link a:hover {
    border: none;
    background-color: none;
    background: none;
    color: inherit;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    opacity: 50%;
}

div.exp-elem {
    display: block;
    margin-left: -18%;
}

div.exp-elem .date {
    width: 18%;
    float: left;
    font-size: medium;
}

div.exp-elem i {
    font-size: 2.5rem;
    float: left;
    color: #17252A;
}

div.exp-elem .title {
    width: 80%;
    height: fit-content;
    margin-left: 25%;
}

div.exp-descr {
    margin-left: 12%;
    margin-bottom: 10%;
}

div.exp-descr b {
    color: #2b7a78;
    font-family: PublicSansMedium, sans-serif;
}

div.back-btn {
    width: fit-content;
    height: 150px;
}

div.back-btn a img {
    width: 100px;
}

div.back-btn a img:hover {
    opacity: 70%;
}